:root {
  --bg-color1:  rgb(252, 252, 252);
  --bg-color2: rgba(165, 165, 165, 0.645);
  --margins: 2px;
  --border-style: outset;
  --font: 'Roboto Mono', monospace;
  --icon-width: 20px;
  --icon--height: 20px;
  --icon--border-radius: 50%;
  --padding: 4px;
  --transition:  all 300ms ease;
  

}
body {
  background-color: var(--bg-color1);
  
}

.App {
  font-family: var(--font);
}
.top-bar-main{
  width: 100%;
  height: 100px;
  background-color: var(--bg-color1);
  filter: brightness(1.2);
  display: flex;
}
.logo-main{
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social-icon-container {
  position: relative
  ;
  left: 65%;
width: auto;
height: 200px;

display: flex;
}
.social-icon {
  width: 40px;
  height: 40px;
  margin: calc(var(--margins) * 2);
  transition: var(--transition);
}
.social-icon:hover {
  scale: 1.2;
}
.nav-bar-main {
  width: 100%;
  height: 80px;
  background-color: var(--bg-color2);

  display: flex;
 
  align-items: center;
  justify-content: center;

}
.nav-item-container {
  display: flex;
}

.nav-item {
margin: calc(var(--margins) * 10) ;
display: flex;
padding: calc(var(--padding) *2);


}
.nav-item:hover {
  text-decoration: underline;
  user-select: none;
}
/* ============================ nav-item-icons */
.nav-item-icon {
  margin: 4px;

  width: var(--icon-width)
  ;
  height: var(--icon--height);

  border-radius: var(--icon--border-radius);
  background-image: url('./assets/website2-UI-icons/reshot-icon-arrow-left-4NA6KJF8CU.svg');
  transform: rotate(-90deg);
  transition: all 400ms ease;
}

.side-icon {
  margin: 4px;

  width: var(--icon-width)
  ;
  height: var(--icon--height);

  border-radius: var(--icon--border-radius);
 

  transition: all 400ms ease;
}
/*============================ */




.drop-downs-main {
  display: flex;
}

/* 
======================SECTION OF CUSTOM CLASSES FOR DROP DOWNS===================
*/

.drop-down {
  opacity: 0;
  transition: var(--transition);
 
}